<!DOCTYPE html>
<html lang="ar-eg">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Assets/favicon.ico">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-ui")
@RenderSection("scripts", required: false)
</body>
</html>
