@{ViewBag.Title = "القسم الداخلي";}
<nav>
    <ul class="nav nav-justified nav-fixed-top">
        <li class="dropdown">
            <a herf="#" class="dropdown-toggle" role="button" data-toggle="dropdown">الأطباء <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href='@Url.Action("AddDoctor", "Rec")'>إضافة طبيب</a></li>
                <li class="divider"></li>
                <li><a href='@Url.Action("Doctors", "Rec")'>قائمة الأطباء</a></li>
                <li class="divider"></li>
                <li><a href='@Url.Action("DocDu", "Rec")'>حسابات الأطباء</a></li>
                <li class="divider"></li>
                <li><a href='@Url.Action("GetsDoctor", "Rec")'>أطباء متوقفين</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a herf="#" class="dropdown-toggle" role="button" data-toggle="dropdown">الخدمات <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href='@Url.Action("Serv", "Rec")'>قائمة الخدمات</a></li>
                <li class="divider"></li>
                <li><a href='@Url.Action("stopedserv", "Rec")'>خدمات متوقفة</a></li>
                <li class="divider"></li>
                <li><a href='@Url.Action("reportserv", "Rec")'>تقارير</a></li>
                <li class="divider"></li>
            </ul>
        </li>
        <li class="dropdown">
            <a herf="#" class="dropdown-toggle" role="button" data-toggle="dropdown">القسم الداخلي <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href='@Url.Action("GetRooms", "Rec")'>الغرف</a></li>
                <li><a href='@Url.Action("GstRoom", "Rec")'>غرف متوقفة</a></li>
            </ul>
        </li>
        <li><a href='@Url.Action("OprSetting", "Rec")'>العمليات</a></li>
        <li><a href='@Url.Action("DevSetting", "Rec")'>الأجهزة الطبية</a></li>
    </ul>
</nav>
<input type="hidden" id="cby" value=@HttpContext.Current.User.Identity.Name.Split('|')[1] />
<script language="javascript" type="text/javascript">
    function Getsrv() {
        var procemessage = "<option value='0'> تحميل...</option>";
        $("#serv").html(procemessage).show();
        var url = "@(Url.Action("Gserv", "Rec"))";
        $.ajax({
            url: url, cache: false, type: "POST", success: function (data) {
                var markup = "<option value='0'> --- الخدمة --- </option>";
                for (var x = 0; x < data.length; x++)
                { markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>"; }
                $("#serv").html(markup).show();
            }, error: function (response) { alert("error : " + response); }
        });
    }
</script>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">قائمة الغرف خارج الخدمة</h3>
    </div>
    <div class="panel-body">
        <div class="row" style="padding:5px 5px" id="bcon">
            <button class="small btn-info pull-left" id="eden" title="F9"><i class="glyphicon glyphicon-edit"></i></button><span class="pull-left">|</span>
        </div>
        <table id="example" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center">كود</th>
                    <th class="text-center">رقم الغرفة</th>
                    <th class="text-center">الدرجة</th>
                    <th class="text-center">الخدمة</th>
                    <th class="text-center">عدد الأسرة</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="Adrom">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title"></label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group">
                            <label style="margin:0px 30px 0px 21px">رقم الغرفة</label>
                            <input type="number" min="1" id="Rnum" class="form-control text-center" style="max-width:75px" />
                            <input type="hidden" id="idtup" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group">
                            <label style="margin:0px 30px 0px 20px">عدد الأسرة</label>
                            <input type="number" min="1" id="Bed" class="form-control text-center" style="max-width:75px" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group">
                            <label style="margin:0px 30px 0px 55px">الدرجة</label>
                            <select id="Degr" class="form-control" style="max-width:150px">
                                <option value="أولي">أولي</option>
                                <option value="عادية">عادية</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group">
                            <label style="margin:0px 30px 0px 52px">الخدمة</label>
                            <select id="serv" class="form-control" style="max-width:150px"></select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-inline ls_form">
                        <div class="form-group" style="margin:0px 30px 0px 20px">
                            <label>تعمل/لاتعمل</label>
                            <input id="isac" type="checkbox" style="max-width:20px;margin:0px 11px 0px 0px" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" id="rosve" type="button" class="btn btn-sm btn-success">حفظ</a>
                <a type="button" href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">إغلاق</a>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/dt.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/dts.js"></script>
    <script>
        var upd = {
            autoOpen: false,
            modal: true,
            width: 400,
            height: 400,
            title: 'تحديث بيانات الغرف',
            closeOnEscape: false,
            resizable: false,
            open: function (event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); },
            buttons: {
                حفظ: function () {
                },
                إغلاق: function () {
                    var table = $(".display").DataTable();
                    table.$('tr.selected').removeClass('selected');
                    $(this).dialog("destroy");
                }
            }
        };
        $(document).ready(function () {
            $('#rosve').click(function () {
                $.ajax({
                    url: "@(Url.Action("RoomUpdat", "Rec"))",
                    type: "GET",
                contentType: "application/json; charset=utf-8",
                data: { cby:$('#cby').val(), id: $("#idtup").val(), RoomNumber: $("#Rnum").val(), Degr: $("#Degr").val(), Bedn: $("#Bed").val(), ser: $("#serv").val(), actv: $("#isac").is(':checked') },
                dataType: "json",
                success: function (result) {
                    if (result) {
                        alert('تم تحديث بيانات الغرفة بنجاح')
                        $("#Adrom").modal("hide");
                        var table = $("#example").DataTable();
                        table.$('tr.selected').removeClass('selected');
                        table.clear();
                        table.draw();
                        table.ajax.url('/Haf/Rec/Gsroom').load();
                    }
                    else {
                        alert('لا يوجد غرفة بهذا الرقم في هذا الدور')
                    }
                }
            });
            })
            var table = $('#example').DataTable({
                fixedHeader: true, "ordering": false, bFilter: false, bPaginate: false, sAjaxSource: '/Haf/Rec/Gsroom', lengthChange: false, dom: 'Bfrtip',
                buttons: [{
                    extend: 'print', title: function () { return 'مستشفي حفصة العوضي التخصصي' }, text: '<i class="glyphicon glyphicon-print"></i>',
                    exportOptions: { modifier: { page: 'current' }, columns: [0, 1, 2, 3, 4] },
                    customize: function (win) {
                        $(win.document.body).find('table').addClass('display').css('font-size', '12px');
                        $(win.document.body).find('h4').css('text-align', 'center');
                        $(win.document.body).find('h4').text('الغرف');
                    }
                },
                ],
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                    };
                    totald = api
                    .column(4, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    $(api.column(4).footer()).html(
                    totald
                    );
                },
                columns: [
                { "data": "ID", "width": "10%", "sClass": "dt-center" },
                { "data": "RNumber", "width": "10%", "sClass": "dt-center" },
                { "data": "Degree", "width": "25%", "sClass": "dt-center" },
                { "data": "ServName", "width": "25%", "sClass": "dt-center" },
                { "data": "BedN", "width": "10%", "sClass": "dt-center" },
            { "data": "Serv", "visible": false },
                ]
            });
            table.buttons().container().appendTo('#bcon');
            $(window).keydown(function (e) {
                if (event.which === 120) {
                    $('#eden').click();
                }
            });
            $(document).on("keypress", function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    var $targ = $(e.target);
                    if (!$targ.is("textarea") && !$targ.is(":button:submit")) {
                        var focusNext = false;
                        $(this).find(":input:visible:not([disabled],[readonly]), a").each(function () {
                            if (this === e.target) {
                                focusNext = true;
                            }
                            else if (focusNext) {
                                $(this).focus();
                                return false;
                            }
                        });
                        return false;
                    }
                }
            });
            $('#eden').click(function () {
                var table = $("#example").DataTable();
                if (table.cell('.selected', 0).data()) {
                    $("#idtup").val(table.cell('.selected', 0).data());
                    $("#Rnum").val(table.cell('.selected', 1).data());
                    $("#Bed").val(table.cell('.selected', 4).data());
                    document.getElementById("Bed").disabled = true
                    $("#Degr").val(table.cell('.selected', 2).data());
                    $("#serv").val(table.cell('.selected', 5).data());
                    $("#isac").prop('checked', false);
                    $('#Adrom').modal({ backdrop: false });
                }
                else { alert("قم بتحديد غرفة أولا") }
            });
            $('#example tbody').on('click', 'tr', function () {
                var table = $("#example").DataTable();
                table.$('tr.selected').removeClass('selected');
                $(this).closest('tr').addClass('selected')
                Getsrv();
            })
        });
    </script>
}
